/* *,
*::before,
*::after{

  box-sizing: border-box;
}
*:focus{

  outline: none;
}

body{
  color: white;
  font-family: "Oxygen", sans-serif;
  background-image:url('../bbg.jpg');
  background-size:100% 100%;
}

p{
  margin-left: 20%;
  margin-right: 22%;
  color: rgb(255, 255, 255);
}
h3{
  margin-left: 20%;
  color: white;
}
h4{
  margin-left: 20%;
  color: rgb(255, 255, 255);
} */

a {
  color: #b4b4b4;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}
.photo img{
  width: 15%;
  margin-left:80%
}
.bg-photo{
  background-image:url("../banner.png");
  background-repeat:no-repeat;
  background-size: 100%,100%;
}
.container h1{
  font-family: Georgia, serif;
  font-style: italic;
}

  