<!DOCTYPE html>
<html>
<!-- <html lang = en>  -->
  <head>
    <meta charset = "UTF-8">
    <title>Thank you, [[${name}]]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--link rel = "stylesheet" href="{{url_for('static', filename = 'css/main.css')}}"-->
    <link rel="stylesheet" href="css/main3.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


    <!-- style type = "text/css"> </!-->

  </head>
  
  <body>
    <div class = "visitor">
    <br><br><br><br><br><br><br><br><br><br>
    <h2>Hey! &emsp;&emsp; [[${name}]], [[${final}]]</h2><br>
    <h2>Thanks for your message!</h2><br>
    <h2>I will contact you in 5 workdays!</h2><br>
    <h2><a href="/">Back to Index</a></h2>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>


    <footer>
      <section class = "bottom-bar">
        <p>&copy 2021 | all rights reserved</p>
      </section>
    </footer>
  </body>
</html>