<!DOCTYPE html>
<html>
<!-- <html lang = en>  -->
  <head>
    <meta charset = "UTF-8">
    <title>Junxian(Aduso) Qu Web</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--link rel = "stylesheet" href="{{url_for('static', filename = 'css/main.css')}}"-->
    <link rel="stylesheet" href="css/main3.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>


    <!-- style type = "text/css"> </!-->

  </head>
  <body>
    <aside>
      <nav>
        <img src = "happy.jpg" alt = "Failed to upload photo"/>
        <a href = "#home"><a1><i class = "material-icons md-36">home</i><br /> Home</a1></a>
        <a href = "#education"><a2><i class = "material-icons md-36">person</i><br /> Education</a2></a>
        <a href = "#skills"><a3><i class = "material-icons md-36">build</i><br /> Skills</a3></a>
        <a href = "#experience"><a4><i class = "material-icons md-36">book</i><br />Experience</a4></a>
        <a href = "#project"><a5><i class = "material-icons md-36">assignment</i><br /> Project</a5></a>
        <a href = "#contact"><a6><i class = "material-icons md-36">mail</i><br /> Contact</a6></a> 
      </nav>
    </aside>

    <main>
      <header>
        <br class = "home" id = "home"><br><br>
        <h1>Welcome to Junxian(Aduso) Qu Website</h1>
        <h4>Finding 2022 Software Development Engineer</h4>
        <br />
      </header>

    </main>
    <br><br>
    <section class = "photo" id = "photo"><img src = "person.jpg" alt = "Failed to upload photo"/></section>
    <section class = "education" id = "education">
      <h2>Personal Introduction</h2>
      <h4>● Born in Jinan, Shandong province, China.</h4>
      <h4>● Hobbies: draw sketch, hike, play mobile games, and talk with people have different experience</h4>
      <h4>● Dislikes: swim in sea (seawater tastes awful)</h4>
      <h4>● Advantages: do things very discreet, prefer to communicate with others, have passion in learning new things</h4>
      <h4>● Disadvantages: don't like to delay task to deadline (finish work at deadline is a popular case for teamwork)</h4>
    </section> 
    <br><br> 
    <section class = "education" id = "education">
      <h2>Education</h2>
      <h4>● M.S. in Computer Engineering at University of California San Diego, US (GPA 3.75)&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 3/2021 - present </h4>
      <h4>● M.S. in Electrical Engineering at Southeast University, China (GPA 3.81)&emsp;&emsp;&nbsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 9/2017 - 6/2020</h4>
      <h4>● B.S. in Electrical Engineering and Automation at Southeast University, China (GPA 3.63)&emsp;&emsp;&emsp;&emsp;9/2013 - 6/2017</h4>
      <br />
    </section>
    <section class = "skills" id = "skills">
      <h2>Skills</h2>
      <div class="row-halves">
        <div class="col">
          <h4>● Programming Languages: Java, Python, Html, CSS, MATLAB, JavaScript, C, Mathematica, C++</h4>
          <h4>● Frameworks & Tools: Spring MVC, Beans, Git, Node.js, Bootstrap, Maven,  Requests, Flask, Bokeh</h4>          
        </div>
      </div>
    </section>
    <br />
    <section class = "experience" id = "experience">
      <h2>Experience</h2>
      <div class="row-halves">
        <div class="col">
          <h4>Intern - Software Development Engineer at Knobull Co. US&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;4/2021 - 9/2021</h4>
          <p> <font color = #c0c0c0> Knobull is a startup which aims to provide academic help for students, such as paper researching and professional news. During intern I am responsible for designing both front-end and back-end. </font> </p>
          <p>● Back-end  <font color = #c0c0c0> Implemented website in Java for building the whole framework of web. </font>[Java][Git]</p>
          <p>● Back-end  <font color = #c0c0c0>  Constructed model-view-controller to handle requests from web pages.  </font>[Java][Spring MVC]</p>
          <p>● Back-end <font color = #c0c0c0>  Developed another news and search engine portal framework. </font>[JavaScript][Node.js]</p>
          <p>● Back-end <font color = #c0c0c0>  Created automail function with information submitted by visitors. </font>[Java][Spring MVC]</p>
          <p>● Front-end <font color = #c0c0c0>  Designed CSS and Html files for 'privacy' and 'about' pages</font>[Html,CSS][BootStrap]</p>
          <h4>Hardware & Software Motor Engineer at Midea Co. China&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;7/2020 - 1/2021</h4>
          <p> <font color = #c0c0c0> Deployed motor news webpage in intranet, created software based on a database to calculate motor's output, including GUI, algorithm for computation, query database.</font> </p>
          <p>● Back-end <font color = #c0c0c0>  Establish an intranet web with Flask, displaying the data plot with Bokeh frame.</font>[Python][Flask,Bokeh]</p>
          <p>● Front-end <font color = #c0c0c0>  Designed CSS and Html files for motor website in intranet.</font>[Html,CSS][BootStrap]</p> 
          <p>● GUI  <font color = #c0c0c0> Designed GUI with Tkinter. Including input-output modules and submission module. </font>[Python][Tkinter]</p> 
          <p>● Socket Connection  <font color = #c0c0c0> Delivered information to server by socket script. Updated database by qualified users. </font>[Python]</p>
          <p>● Fast-Simulation Script <font color = #c0c0c0>Created a script calling JMAG(a popular simulation software) externally to accelerating simulation.</font>[JavaScript]</p>
          <p>● Analytical Algorithm <font color = #c0c0c0>  Built sub-domain method to deduct the motor's analytical algorithm in MATLAB and Mathematica.</font>[MATLAB,Mathematica]</p>
          
          
        </div>
      </div>
    </section>
    <br />
    <section class = "project" id = "project">
      <h2>Projects</h2>
      <div class="row-halves">
        <div class="col">
          <p>●  Personal Website<font color = #c0c0c0> Constructed personal website.&emsp;&emsp;link: https://jxqu.herokuapp.com//</font>[Java,Html,CSS][Spring MVC,BootStrap,Git]</p>
          <p>● Branches Prediction<font color = #c0c0c0>Predict instruction branches taken or not in Docker environment.</font>[C][Docker]</p>
          <p>● Crawling Webpages  <font color = #c0c0c0> Implemented data crawling from Airbnb with Requests frame.</font>[Python][Requests]</p>          
          <h4>Research &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;10/2016 - 06/2020</h4> 
          <p><font color = #c0c0c0>Conducted the research about an axial flux PM Flywheel Motor and a high-speed high-power motor, including improve the algorithm to reduce the simulation time, developing an optimization method to get the optimal result quickly and controlling the motor by DSP.</font></p>
          <p><font color = #c0c0c0>Developd an algorithm which can cut down 70\% time cost of optimization and improve 61\% reliability, and Combined the analytical algorithm with particle swarm method in MATLAB for fast-optimization. </font>[Python, C, Matlab]</p> 
          <p> Paper: <font color = #c0c0c0>J QU, Y HUANG, B GUO, H Yang and S Fang, "An optimal design of an AFPMSM using analytical approach and particle swarm optimization," in 2017 20th International Conference on Electrical Machines and Systems (ICEMS). 2017: 1–5</font></p>
          
        </div>
      </div>
    </section>
    <br />
    <section class="contact" id = "contact">
      <div class="container">
        <br>
        <h2>Contact</h2>
        <!-- <form action=""> -->
          <p for="email"> Email:&emsp;isjunxianqu@gmail.com, j1qu@ucsd.edu &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Phone: 1-858-214-4336</p>
          <br>
          <h4>Leave me a message</h4>
          <form action="hello" method="GET">
            <label for="name">Your Name: </label>&emsp;
            <input type="text" id = "name" name="name"
              placeholder="What's your name?" />
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <label for="e-mail">Your Email: </label>
            <input type="email" id = "e-mail" name="e-mail"
              placeholder="What's your email?" /> 
              <br>
            <!-- <label for="message">Your Message: </label> <br> -->
            <textarea  cols="110" rows="3" id = "message" name="message"
              placeholder="Your message"></textarea>   <br>
              &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" value="submit"/>
          </form>
          <br>
        <!-- </form> -->
      </div>
    </section>


    <footer>
      <section class="top-bar">
        <a href=""><i class = "fab fa-github"></i></a>
      </section>
      <section class = "bottom-bar">
        <p>&copy 2021 | all rights reserved</p>
      </section>
    </footer>
  </body>
</html>